* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*navbar*/
nav {
  display: flex;
  background-color: coral;
  justify-content: space-around;
  /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  /* atur padding dengan flex */
  height: 45px;
  align-items: center;
  color: whitesmoke;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}
nav .logo {
  font-family: "Srisakdi", cursive;
  letter-spacing: 3px; /*space antar char*/
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

nav ul li a:hover {
  color: teal;
}
  /* hamburger menu */
  .menu-toggle{
    display: none; 
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input{
     position: absolute;
     top:-5px;
     left:-3px;
     width:21px;
     height: 21px;
     opacity: 0;
     cursor: pointer;
     z-index: 2;
 }
 .menu-toggle span{
     display: block;
     width: 21px;
     height: 2px;
     background-color: whitesmoke;
     border-radius: 3px;
     transition: all 0.7s;
 }

   /*x on hamburger menu*/
   .menu-toggle span:nth-child(2){
    transform-origin: left center;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: left center;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) ;
  }
  /* invis span ke 2 / child ke 3 */
  .menu-toggle input:checked ~ span:nth-child(3){
    width: 0%;
    opacity: 0;
    transition: .1s
  }

.image {   
    width: 100%;
    height: auto;  
    max-width: 140px;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;

}
main {
    display: flex;
    flex-direction: row;
}

.box {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
/* supaya ada jarak antar box  */
.flexone{
flex-grow: 1;
}
.flextwo{
    flex-grow: 2;
    }
footer {
    text-align: center;
}
h2 {
  
    text-align: center;
    color: brown;
    text-justify: inter-word;
    word-wrap: break-word;
}
h5 {
  text-align: center;
  color: red;
  word-wrap: break-word;
 
}
p {
    text-align: justify;
    text-justify: inter-word;
}
@media screen and (max-width: 768px) {
    nav ul{
      width: 50%;
    }
  }

  @media screen and (max-width: 576px) {
   .menu-toggle{
       display: flex;
   }
   main{
       flex-direction: column-reverse;
   }
    nav ul{
      position: absolute;
      right:0;
      top: 0;
      width: 50%;
      flex-direction: column;
      height: 100vh;
      justify-content:space-evenly;
      align-items: center;
      background-color: coral;
      /* transform: translateX(100%);  */
      transition: all 0.72s;
      opacity: 0;
      z-index: 2;
    }
    nav ul.menushow{
        opacity: 0.5;
        /* transform: translateX(0); */
    }
  }

.list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  flex-direction: row;
}


/*Bikin Sendiri*/
html {
  height: 100%;
}

@keyframes colors {
  0% {color: darkolivegreen;}
  25% {color: olive;}
  50% {color: darkgreen;}
  75% {color: darkkhaki;}
  100% {color: darkolivegreen;}
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  overflow-x: hidden;
}

footer {
  height: 50px;
  background-color:darkkhaki;
  padding: 12px;
}

h1 {
  font-size:48px;
  color: darkslategrey;
}

h2 {
  color: darkslategrey;
}

h3 {
  color: darkolivegreen;
}

.list {
  margin-top: 8px;
  margin-bottom: 8px;
}  

.body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}


.image {   
  width: 100%;
  height: auto;  
  max-width: 140px;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25%;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 32px;
  margin: 10px 100px;
  justify-content:space-around;
  gap: 16px;
  flex-wrap: wrap;
}

.flextwo {
  flex-grow: 2;
}

.flexone {
  flex-grow: 1;
}

.main-bio {
  background-color: antiquewhite;
}

.sec-2 {
  background-color: antiquewhite;
}

.between {
  justify-content: space-between;
  gap: 32px;
}

.sec-3 {
  background-color: antiquewhite;
}

.sec-4 {
  background-color: antiquewhite;
}

.around {
  justify-content: space-around;
}

.hero {
  background-color: antiquewhite;
  min-height: 25%;
  display: flex;
  flex-direction: column;
}

.hero-text {
  animation-name: colors;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.half {
  max-width: 50%;
}

.center {
  text-align: center;
}

.quote {
  max-width: 33%;
}

.bio-box {
  display: flex;
  flex-direction: row;
  gap: 24px
}

.sub {
  size: 24px;
}

.logo-img {
  max-height: 100px;
}

.others {
  display: flex;
  flex-direction: row;
  gap: 36px;
  flex-wrap: wrap;
}

table, th, td {
  border: 3px solid;
  border-collapse: collapse;
}

td {
  padding: 4px;
  padding-left: 8px;
}

div.headline_json {
  margin: 20px;
}

.scrap-heading {
  margin-bottom: 12px;
}